.projPageWrapper {
   min-height: 80vh;
   margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(232, 232, 244);
    z-index: -1000;
}

.pgTitle {
    text-align: center;
    color: #231E63ff;
    padding: 10px;
    font-size: 16pt;
    font-weight: 400;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-image: linear-gradient(to top right, #201ba624,#6650f227, #6619a51d);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: -7px 7px 27px 1px rgb(161, 147, 161);
    width: 90%;
    height: 700px;
}

.itemCard {
    background-image: linear-gradient( to bottom right, rgba(124, 123, 123, 0.448), rgba(209, 207, 207, 0.776));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    height: 425px;
    width: 300px;
    position: relative;
    box-shadow: 2px 2px 7px rgb(161, 147, 161);
}

.itemImg {
    height: 250px;
    width: 300px;
    border-radius: 5px;
}

.itemTitle {
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 870px) {
    .projPageWrapper {
        flex-direction: column;
    }
    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 1000px;
    }
    .itemCard {
        height: 400px;
        width: 300px;
    }
}