.pgTitle {
    text-align: center;
    color:rgb(30, 1, 58);
    background-color: rgb(196, 196, 241);
    padding: 10px;
}

.projects {
    display: flex;
    flex-direction: row;
    background-color: rgb(196, 196, 241);
    height: 100vh;
}

.itemCard {
    background-image: linear-gradient(to bottom right, rgb(136, 19, 246), rgb(146, 96, 193));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    height: 425px;
    width: 300px;
    position: relative;
    box-shadow: 10px 10px 20px  rgb(161, 147, 161);
}

.itemImg {
    height: 250px;
    width: 300px;
    border-radius: 5px;
}

.itemTitle {
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }

    .itemCard {
        height: 400px;
        width: 300px;
    }
}