.projPageWrapper {
   min-height: 80vh;
   margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(232, 232, 244);
    z-index: -1000;
}

/* .pgTitle {
    text-align: center;
    color: #231E63ff;
    padding: 10px;
    font-size: 16pt;
    font-weight: 400;
} */

.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #6619a51d, #201ba624, #6650f227, #6619a51d);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: -7px 7px 27px 1px rgb(161, 147, 161);
    width: 60%;
    height: 600px;
}

.itemCard {
    background-image: linear-gradient( to bottom right, rgba(8, 8, 8, 0.771), rgba(8, 8, 8, 0.903));
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px;
    height: 200px;
    width: 500px;
    position: relative;
    box-shadow: 2px 2px 7px rgb(161, 147, 161);
}

.itemImg {
    height: 100%;
    width: 50%;
    border-radius: 2px;
    border-right: 1px solid rgba(148, 146, 146, 0.296);
}

.itemTitle {
    color: white;
    position: absolute;
    right: 0;
    margin-right: 20px;
    padding: 5px;

}

.viewPortfoBtnCon {
    display: flex;
   
    padding: 20px;
    margin: 40px 40px 0px 0px;
}
.viewPortfoBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    padding: 5px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(121, 14, 222), rgb(43, 3, 81));
    color: white;
    letter-spacing: 1px;
    box-shadow: 5px 10px 20px 5px rgb(161, 147, 161);
    transition: 0.2s ease;
}
.viewPortfoBtn:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 870px) {
    .projPageWrapper {
        flex-direction: column;
    }
    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 1000px;
    }
    .itemCard {
        height: 400px;
        width: 300px;
    }
}