/* {item.desc} */
.info {
    color: black;
    border-radius: 10px;
    background-color: #B4AEE8;
    padding: 5px;
    font-weight: 200;
    /* box-shadow: inset 0 0 200px rgba(255, 255, 255, .5);
    filter: blur(1px); */
}

.i-Icon {
    position: absolute;
    bottom: 30px;
    left: 40px;
    color: #B4AEE8;
    cursor: pointer;
}
.git-Icon {
    position: absolute;
    bottom: 30px;
    left: 80px;
    color: #B4AEE8;
    cursor: pointer;
}

.visitBtn {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 40px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, rgb(121, 14, 222), rgb(43, 3, 81));
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

.git-Icon:hover {
    color: #99FEFF;
}
.i-Icon:hover {
    color: #99FEFF;
}
.visitBtn:hover {
    color: #99FEFF;
}

@media screen and ( max-width: 800px) {
}