.projCardNav {
display: flex;
align-items: center;
justify-content: center;
border-top: 1px solid rgba(148, 146, 146, 0.296);
width: 50%;
height: 40px;
}

/* {item.desc} */
.info {
    position: absolute;
    bottom: 70px;
    color: rgb(227, 182, 250);
    border-radius: 5px;
    padding: 5px;
    font-weight: 300;
    font-size: 12pt;
}

.projCardIcon {
    color: #B4AEE8;
    padding: 15px;
}
.projCardIcon:hover {
    color: #99FEFF;
}


