.topBar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-image: linear-gradient(to right, #1F1BA6,#6650F2, #6619A5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

@media screen and (max-width: 870px) {
    .topBar {
        justify-content: space-between;
    }
}

@media screen and (min-width: 2000px) {
    .topBar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}