.topBar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #363062;
    position: sticky;
    top: 0;
    z-index: 999;
}

@media screen and (max-width: 800px) {
    .topBar {
        justify-content: space-between;
    }
}