.topBar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /* background-color: #363062; */
    background-color: rgb(82, 75, 175);
    position: sticky;
    top: 0;
    z-index: 1000;
}

@media screen and (max-width: 870px) {
    .topBar {
        justify-content: space-between;
    }
}