.resumePage {
    background-color: rgb(196, 196, 241);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resPNG {
height: 1000px;
width: 800px;
border-radius: 10px;
margin: 30px;
box-shadow: 10px 10px 20px  rgb(161, 147, 161);
}

@media screen and ( max-width: 870px) {
    .resPNG {
        height: 550px;
        width: 350px;
    }
}