.topLogo {
    display: flex;
    align-items: center;
    justify-content: center;
   align-self: flex-start;
}

.logoImg {
    height: 50px;
    width: 110px;
    cursor: pointer;
}
@media screen and (min-width: 870px) {
    .topLogo {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 40px;
    }
}