.about {
    min-height: 700px;
    display: flex;
    /* background-color: rgb(196, 196, 241); */
    /* border-bottom: 1px solid rgb(232, 232, 244); */
    /* background-image: url("../../image/digital_vector_circuit_lowContrast.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    /* border-bottom: 1px solid rgb(232, 232, 244); */
    
}

.aboutLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
}

.cardBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 150px;
    height: 500px;
    width: 500px;
    background-color: rgb(55, 27, 53);
    border-radius: 30px;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
    opacity: 0.4;
    filter: blur(4px);
}

.aboutCard {
    position: absolute;
    top: 85px;
    left: 135px;
    width: 500px;
    height: 500px;
    overflow: hidden;
    box-shadow: rgba(126, 126, 126, 0.24) 20px 20px 20px;
}

.drumPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgba(126, 126, 126, 0.24) 20px 20px 20px;
}

.aboutRight {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
    height: auto;
    position: relative;
}

.aboutDescWrapper {
    margin: 200px 30px 0px 10px;
    padding: 20px;
    background: rgba(126, 119, 248, 0.169);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: -7px 7px 27px 1px rgb(161, 147, 161);
}

.a-title {
    font-weight: 400;
    color: rgb(30, 1, 58);
}

.a-sub {
    margin: 20px 0px;
}

.a-desc {
    font-weight: 300;
}

.moreAboutBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(121, 14, 222), rgb(43, 3, 81));
    color: white;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 100px 50px 0px 0px;
    box-shadow: 0px 10px 20px rgb(161, 147, 161);
}

.moreAboutBtn:hover {
    color: #99FEFF;
}

/* render until screen size hits >870px */
@media screen and (max-width: 850px) {
    .about {
        display: flex;
        flex-direction: column;
        min-height: 950px;
    }
    .aboutLeft {
        min-height: 350px;
    }
    .cardBackground {
        position: absolute;
        top: 110px;
        left: 20px;
    }
    .aboutCard {
        position: absolute;
        top: 100px;
        left: 10px;
    }
    .aboutRight {
        
        justify-content: flex-start;
    }
}

/* render until screen size hits 1200px */
@media screen and (max-width: 1200px) {
    .cardBackground {
        width: 350px;
        height: 350px;
    }
    .aboutCard {
        width: 350px;
        height: 350px;
    }
}