.about {
    height: 700px;
    display: flex;
    background-color: rgb(196, 196, 241);
    /* background-color: rgb(201, 201, 245); */
    /* background-image: linear-gradient(to bottom right,  rgb(190, 190, 236), rgb(201, 201, 245), rgb(190, 190, 236)); */
}

.aboutLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
}

.cardBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 100px;
    height: 500px;
    width: 500px;
    background-color: rgb(55, 27, 53);
    border-radius: 30px;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
    opacity: 0.4;
    filter: blur(4px);
}

.aboutCard {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 500px;
    height: 500px;
    overflow: hidden;
    box-shadow: rgba(126, 126, 126, 0.24) 20px 20px 20px;
}

.drumPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: rgba(126, 126, 126, 0.24) 20px 20px 20px;
}

.aboutRight {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 50px 20px;
    height: auto;
    position: relative;
}

.a-title {
    font-weight: 400;
}

.a-sub {
    margin: 20px 0px;
}

.a-desc {
    font-weight: 300;
}

.moreAboutBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(121, 14, 222), rgb(43, 3, 81));
    color: white;
    letter-spacing: 1px;
    position: absolute;
    margin-top: 20px;
    box-shadow: 10px 10px 20px rgb(161, 147, 161);
}

.moreAboutBtn:hover {
    color: #99FEFF;
}

/* render until screen size hits >870px */
@media screen and (max-width: 870px) {
    .about {
        display: flex;
        flex-direction: column;
        min-height: 800px
    }

    .aboutLeft {
        min-height: 350px;
    }

    .cardBackground {
        position: absolute;
        top: 30px;
        left: 20px;
    }

    .aboutCard {
        position: absolute;
        top: 20px;
        left: 10px;
    }
}

/* render until screen size hits 1200px */
@media screen and (max-width: 1200px) {
    .cardBackground {
        width: 350px;
        height: 350px;
    }

    .aboutCard {
        width: 350px;
        height: 350px;
    }
}