.bioWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(186, 186, 242);
}

.bioDesc {
    padding: 25px;
    text-indent: 50px;
    background-color: #E9D5CA;
}

.contactMeBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(121, 14, 222), rgb(43, 3, 81));
    color: white;
    letter-spacing: 1px;
    margin-top: 20px;
    box-shadow: 2px 2px 8px rgb(55, 27, 53);
}
.contactMeBtn:hover {
    color: #99FEFF;
}

.drumPic {
    height: 400px;
    width: 400px;
    float: left;
    padding: 20px;
    clip-path: polygon(40% 1%, 75% 0%, 100% 48%, 63% 95%, 25% 100%, 0 49%);
}

.certCard {
    background-image: linear-gradient(to bottom right, rgb(136, 19, 246), rgb(146, 96, 193));
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    height: 425px;
    width: 300px;
    position: relative;
    box-shadow: 6px 6px 10px rgb(55, 27, 53);
}

.certImg {
    height: 250px;
    width: 300px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.certTitle {
    color: white;
}

.certDesc {

    color: white;
}

@media screen and (max-width: 800px) {
    .certs {
        display: flex;
        flex-wrap: wrap;
    }

    .bioDesc {
        max-width: 100%;
        padding: 15px;
    }

    .drumPic {
        max-width: 300px;
        max-height: 300px;
    }
}