.displayWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    padding: 100px 0px 40px 0px;
    border-bottom: 1px solid rgba(232, 232, 244, 0.451);
}

.displayContainer {
    max-width: 80%;
    height: 600px;
    background-image: linear-gradient(to top right, #6619a51d, #201ba624, #6650f227, #6619a51d);
    border-radius: 10px;
    border: 1px solid rgba(134, 133, 133, 0.212);
    padding: 20px;
    margin: 40px 10px 40px 10px;
    box-shadow: -3px 3px 10px rgb(161, 147, 161);
}

.sliderImg {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    -webkit-filter: brightness(100%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
}

.sliderImg:hover {
    -webkit-filter: brightness(50%);
    box-shadow: 2px 2px 5px rgb(161, 147, 161);
}

.viewPortfoBtnCtn {
    align-self: flex-end;
    margin-right: 100px;
}

.viewPortfoBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
    /* background-image: linear-gradient(to bottom right, rgb(121, 14, 222), rgb(43, 3, 81)); */
    background-color: #6619A5;
    color: white;
    letter-spacing: 1px;
    box-shadow: 5px 10px 20px 5px rgb(161, 147, 161);
    transition: 0.2s ease;
}

.viewPortfoBtn:hover {
    transform: scale(1.02);
}


@media screen and (min-width: 500px) {
    .viewPortfoBtnCon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: none;
        margin-left: 300px;
    }
}