.c {
    min-height: 600px;
    position: relative;
    background-color: rgba(126, 119, 248, 0.169);
    border-bottom: rgba(208, 205, 251, 0.169);
}

.c-wrapper {
    padding: 50px;
    display: flex;
    height: 450px;

}

.c-left {
    flex: 1;
    min-height: 300px;
    max-height: 300px;
}

.c-title {
    font-size: 40px;
    width: 80%;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 25px 0px;
    font-weight: 300;
    width: 70%;
}

.c-icon {
    width: 30px;
    margin-right: 20px;
    color: rgb(43, 3, 81);
}

.c-right {
    flex: 1;
    max-height: 500px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.c-desc {
    font-weight: 200;
    font-size: 25px;
}

.c-form {
    margin-top: 20px;

}

input {
    width: 50%;
    height: 30px;
    border: none;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 30px;

}

textarea {
    width: 50%;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 10px;
}

.sendEmailBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100px;
    border-radius: 30px;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(121, 14, 222), rgb(43, 3, 81));
    color: white;
    letter-spacing: 1px;
    position: absolute;
    box-shadow: 10px 10px 20px rgb(161, 147, 161);
}

.sendEmailBtn:hover {
    color: #99FEFF;
}

.done-toast {
    color: green;
}

@media screen and (max-width: 870px) {
    .c {
        min-height: 1000px;
    }
    .c-wrapper {
        display: flex;
        flex-direction: column;
    }
    .c-left {
        min-height: 450px;
    }
    input,
    textarea {
        width: 100%;
    }
}
