.intro {
    display: flex;
    background-color: #E9D5CA;
}

.introLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

/* 
.introLeftWrapper {
    padding: 20px;
    height: 100%;
    background-color: rgb(163, 170, 106);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

.introHello {
    font-size: 30px;
    font-weight: 300;
    position: relative;
    z-index: 9;
}

.introName {
    font-size: 60px;
    position: relative;
    z-index: 9;
}

.introTitle {
    height: 50px;
    overflow: hidden;
}

.introTitleWrapper {
    height: 100%;
    animation: move 8s ease-in-out infinite running;
    position: relative;
    z-index: 9;
}

.introDescription {
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-100px);
    }

}

.introTitleItem {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(204, 127, 115);
    display: flex;
    align-items: center;
}

.introRight {
    flex: 1;
}

.introImg {
    width: 100%;
    height: 110%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .introImgBackground {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: #92F5EA;
    width: 55%;
    height: 45%;
    position: absolute;
    top:0;
    right: 0;
  
} */

@media screen and (max-width: 700px) {
    .introImg {
        display: none;
    }
}