.intro {
    height: 500px;
    display: flex;
    background-image: url('../../image/abstract_network_purple.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.introLeft {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.introLeftWrapper {
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.introHello {
    color: rgb(220, 158, 251);
    font-size: 30px;
    font-weight: 300;
    position: relative;
    text-indent: 20px;
    z-index: 9;
}

.introName {
    color: #99FEFF;
    font-size: 60px;
    position: relative;
    z-index: 9;
}

.introTitle {
    height: 50px;
    overflow: hidden;
}

.introTitleWrapper {
    height: 100%;
    animation: move 8s ease-in-out infinite running;
    position: relative;
    z-index: 9;
}

.introDescription {
    color: rgb(235, 206, 250);
    font-size: 14pt;
    margin-top: 20px;
    position: relative;
    text-indent: 15px;
    z-index: 9;
}

.i-desc-social{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-100px);
    }
}

.introTitleItem {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #99FEFF;
    display: flex;
    align-items: center;
}

.introRight {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.introImg {
    width: 600px;
    height: 650px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 960px) {
    .introImg {
        width: 400px;
        height: 550px;
    }
}

@media screen and (max-width: 760px) {
    .introImg {
        width: 250px;
        height: 550px;
    }
    .i-desc-social {
        justify-content: center;
    }
}

@media screen and (max-width: 620px) {
    .introLeft {
        padding: 20px;
    }

    .introImg {
        display: none;
    }
}