.footer {
    min-height: 40vh;
    background-image: linear-gradient(to bottom,#6650F2, #6619A5);
    display: flex;
    justify-content: center;
}

.footerNav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.gearsImgWrapper {
    padding: 20px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gearsImg {
    height: 40%;
    width: 80%; 
}
.devTag {
    font-size: 8pt;
    color: #6650F2;
}

@media screen and ( max-width: 870px ) {
    .footer {
        min-height: 400px;
    }
    .gearsImgWrapper {
        max-width: 200px;
    }
}