.footer {
    min-height: 40vh;
    background-image: linear-gradient(to bottom,#6650F2, #6619A5);
    display: flex;
    justify-content: center;
}

.footerNav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.gearsImgWrapper {
    padding: 40px;
    width: 250px;
}
.gearsImg {
    height: 100%;
    width: 100%; 
}

@media screen and ( max-width: 870px ) {
    .footer {
        min-height: 400px;
    }
    .gearsImgWrapper {
        max-width: 200px;
    }
}