.footer {
    min-height: 60vh;
    /* background-image: linear-gradient(to bottom, rgb(160, 91, 225), rgb(136, 19, 246)); */
    background-image: linear-gradient(to top right, #231E63ff, #5A20CFff );
    /* background-color: #231E63ff; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footerNav {
    flex-direction: column;
}

@media screen and ( max-width: 870px ) {
    .footer {
        min-height: 400px;
    }
}