.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.home,
.bio,
.portfolio,
.resume,
.contact {
    margin: 25px;
    color: rgb(203, 203, 245);
}

a {
    text-decoration: none;
} 

a:hover {
    color: #99FEFF;
}


/* show hamburger menu when screen size is < 800px */
@media screen and (max-width: 800px) {
    .navLinks {
        display: none;
    }
}