.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 8pt;
}

.home,
.bio,
.portfolio,
.resume,
.contact {
    margin: 25px;
    color: rgb(249, 237, 254);
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

a:hover {

    color: #99FEFF;
}

/* show hamburger menu when screen size is < 800px */
@media screen and (max-width: 800px) {
    .navLinks {
        display: none;
    }
}