.navLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 8pt;
}

.navLink {
    margin: 25px;
    color: rgb(249, 237, 254);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.08s ease;
}

.navLink:hover {
    transform: scale(1.04);
    color: white;
}

/* show hamburger menu when screen size is < 800px */
@media screen and (max-width: 800px) {
    .navLinks {
        display: none;
    }
}